<!-- <div [hidden]="submitted" style="width: 400px;"> -->
<div class="container mt-5  d-flex justify-content-center">
  <div class="col-md-5">
    <form [formGroup]="chargeEmployeeForm" (ngSubmit)="onSubmit()">

      <div class="card d-flex justify-content-center">
        <div class="card-header">
          <h3 style="text-align: center;">Salaire</h3>
        </div>
        <div class="card-body">

          <div class="form-group">
            <mat-form-field>
              <mat-label>Date de début</mat-label>
              <input matInput [matDatepicker]='datedebC' formControlName="dateDebutC">
              <mat-datepicker-toggle [for]='datedebC' matSuffix></mat-datepicker-toggle>
              <mat-datepicker #datedebC></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group">
            <label for="periode" class="control-label required">Période</label>
            <select formControlName="periode" class="form-control">
              <!-- <option [value]="Mensuel" [selected]="true">Mensuel</option> -->
              <option *ngFor="let pd of periode; let i = index" [value]="pd">
                {{ pd }}
              </option>
            </select>
          </div>

          <div hidden class="form-group">
            <label class="control-label required">Montant</label>
            <input placeholder="montant" class="form-control" formControlName="montant">
            <!-- [ngClass]="{ 'is-invalid': submitted && f.montant.errors }">
      <div *ngIf="submitted && f.montant.errors" class="invalid-feedback">
        <div *ngIf="f.montant.errors.required">Veuillez saisir un montant</div>
        <div *ngIf="f.montant.errors.pattern">Veuillez saisir un nombre</div>
    </div> -->
          </div>
        </div>

        <div class="card-footer">
          <div class="form-group">
            <button type="submit" class="btn">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
