
<!-- <div [hidden]="submitted" style="width: 400px;"> -->
  <div class="container mt-5  d-flex justify-content-center">
    <div class="col-md-5">
  <form [formGroup]="UpdatefctEmployeeForm" (ngSubmit)="onSubmit()">

    <div class="card d-flex justify-content-center">
      <div class="card-header">
    <h4>Modifier la fonction d'employé</h4>
    </div>
    <div class="card-body">
      
    <div class="form-group">
    <mat-form-field>
      <mat-label>Date de fin</mat-label>
      <input matInput [matDatepicker]='dateFR' formControlName="dateFinR">
      <mat-datepicker-toggle [for]='dateFR' matSuffix></mat-datepicker-toggle>
      <mat-datepicker #dateFR></mat-datepicker>
    </mat-form-field>
    <div *ngIf="submitted && f.dateFinR.errors" class="invalid-feedback">
      <div *ngIf="f.dateFinR.errors.required">champ obligatoire</div>
  </div>
  </div>
    </div>

  <div class="card-footer">
      <div class="form-group">
  <button type="submit" class="btn">Modifier</button>
</div>
</div>
    </div>
  </form>
  </div>
  </div>
  