<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Liste Les Résponsables</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Département</th>
          <th>Résponsable</th>
          <th>Date_Début</th>
          <th>Date_Fin</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of responsables | async">
          <td>{{r.pkResponsable.departement.idDepartement}}-{{r.pkResponsable.departement.nomDepartement}}</td>
          <td>{{r.pkResponsable.employee.matricule}}-{{r.pkResponsable.employee.nom}}
            {{r.pkResponsable.employee.prenom}}</td>
          <td>{{r.pkResponsable.dateDebutRes}}</td>
          <td>{{r.dateFinRes}}</td>
          <td>
            <button (click)="desarchiver(r.pkResponsable)" class="btn btn-warning">Désarchiver</button>
            <!--<button (click)="archive(s.idsociete)" class="btn btn-danger">Supprimer</button>
                <button (click)="update(s.idsociete)" class="btn btn-info" style="margin-left: 10px">Modifier</button>
                <button (click)="departementUpdate(departement.iddepartement)" class="btn btn-primary" style="margin-left: 10px">Modofier</button>
            </td>
        -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
