<h3 style=" margin-top:50px; margin-left: 50px;">Créer Contrat Employé</h3>
<div [hidden]="submitted" style="width: 400px; margin-left:50px">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="validationCustom03">Type Contrat:</label>
      <select class="form-control form-control-lg" id="validationCustom03" required [(ngModel)]="id_contrat" name="id">

        <option *ngFor="let c of typescontrats | async" [value]="c.id_typeC">{{c.id_typeC}}-{{c.libelle_C}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="validationCustom02">Employé:</label>
      <select class="form-control form-control-lg" id="validationCustom02" required [(ngModel)]="id_employee"
        name="pkContrat.employee.matricule">
        <option value="">Employé...</option>
        <option *ngFor="let emp of employees | async" value={{emp.matricule}}>{{emp.matricule}}-{{emp.nom}}
          {{emp.prenom}}</option>
      </select>
    </div>


    <div class="form-group">

      <label for="date1">Date_Contrat</label>
      <input type="date" class="form-control" id="date1" [(ngModel)]="date_contrat" name="pkContrat.date_Contrat">
    </div>
    <div class="form-group">
      <label for="date2">Date_Début</label>
      <input type="date" class="form-control" id="date2" [(ngModel)]="date_debut" name="date">
    </div>
    <div class="form-group">
      <label for="date3">Date_Fin</label>
      <input type="date" class="form-control" id="date3" [(ngModel)]="date_fin" name="date_Fin">
    </div>
    <div class="form-group">
      <label for="date4">Motif</label>
      <input type="text" class="form-control" id="date4" required [(ngModel)]="motif" name="date_Ruptue">
    </div>
    <div class="form-group">
      <label for="salaire">Salaire_initiale</label>
      <input type="text" class="form-control" id="salaire" required [(ngModel)]="salaire" name="salaire_initial">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>

</div>

<div [hidden]="!submitted">

  <button (click)="gotoList()" class="btn btn-info">Retour</button>

  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
