<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lister Pointage Archivés </h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id_Pointage</th>
          <th>Employé</th>
          <th>Mois</th>

          <th>Année</th>


          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of pointage">
          <td>{{p.id_pointage}}</td>
          <td>{{p.employee.matricule }}-{{p.employee.nom}} {{p.employee.prenom}}</td>
          <td>{{p.mois}}</td>
          <td>{{p.annee}}</td>
          <td>
            <button (click)="desarchivePointage(p.id_pointage)" class="btn btn-warning">Désarchiver</button>

            <button (click)="PointageUpdate(p.id_pointage)" class="btn btn-primary"
              style="margin-left: 10px">Modifier</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
