<div class="container mt-5  d-flex justify-content-center">
  <div class="col-md-5">
    <label>
      <h4>Matricule: {{idemp}}</h4>
      <h4>Employé: {{employee.prenom}} {{employee.nom}}</h4>
    </label>
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="card d-flex justify-content-center">
        <div class="card-header" style="background-color:lightblue;">
          <!-- <div class="card-body" style="background-color: white;"> -->
          <h2 style="text-align: center; font-family: fantasy;">Créer un compte</h2>
          <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="mx-auto d-block" />
          <!-- </div> -->
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="username">Identifiant</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3"
              maxlength="20" #username="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && username.invalid">
              <div *ngIf="username.errors.required">Identifiant obligatoire</div>
              <div *ngIf="username.errors.minlength">
                Identifiant doit contenir au moins 3 caractères
              </div>
              <div *ngIf="username.errors.maxlength">
                Identifiant doit contenir au plus 20 caractères
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email
              #email="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required">Email obligatoire</div>
              <div *ngIf="email.errors.email">
                Email invalide
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
              minlength="6" #password="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required">Mot de passe obligatoire</div>
              <div *ngIf="password.errors.minlength">
                Mot de passe doit contenir au moins 6 caractères
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="form-group">
            <button class="btn" style="float: right; background-color: lightblue;">Créer compte</button>
          </div>

          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Inscription échouée!<br />{{ errorMessage }}
          </div>

          <div class="alert alert-success" *ngIf="isSuccessful">
            Inscription réussie
          </div>
        </div>
      </div>
    </form>


  </div>
</div>
